body {
    width: auto;
}

.game-box {
    flex: 0 0 325px;
    height: 400px;
    background-color: #9b9b9b;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    margin: 4px;
    box-shadow: 0px 7px 8px rgba(165, 165, 165, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game-shelf {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgb(60, 45, 75); */
    padding: 50px;
}

.game-thumbnail {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.text-box {
    width: auto;
}

.form {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.form input {
    border-radius: 10px;
    text-align: center;
    display: flex;
    margin: 10px;
}

.form-container {
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar input {
    border-radius: 10px;
    margin-top: 10px;
}

.submit-button {
    width: 80px;
    padding: 5px;
    margin: 0 6px 6px;
    background: rgb(170, 170, 245);
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: white;
    border-radius: 10px;
}

.splash-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.splash-container img {
    width: 50%;
}