.game-box {
    flex: 0 0 325px;
    height: 400px;
    background-color: #9b9b9b;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    margin: 4px;
    box-shadow: 0px 7px 8px rgba(165, 165, 165, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game-shelf {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgb(60, 45, 75); */
    padding: 50px;
}

.game-thumbnail {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.text-box {
    width: auto;
}